# Java / Spring Boot
target/
*.class
*.jar
.maven-home/

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Angular / Node
node_modules/
dist/

# Environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db